/* 设置宽高 */
.setWidthHeight (@w, @h) {
  width: @w;
  height: @h;
}

/* fixed 定位 */
.fixed-position (@p1, @p2, @v1, @v2) {
  position: fixed;
  @{p1}: @v1;
  @{p2}: @v2;
}

/* relative 定位 */
.relative-position (@p1, @p2, @v1, @v2) {
  position: relative;
  @{p1}: @v1;
  @{p2}: @v2;
}

/* absolute 定位 */
.absolute-position (@p1, @p2, @v1, @v2) {
  position: absolute;
  @{p1}: @v1;
  @{p2}: @v2;
}

/* flex布局 */
.display-flex (@p1, @p2, @v1, @v2) {
  display: flex;
  @{p1}: @v1;
  @{p2}: @v2;
}

/* 超出几行显示省略号 */
.overhidden (@p1) {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @p1;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clear:after {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  
  .IphoneX_height {
    top: 86px !important;
  }
  
  .normalPhone_height {
    top: 66px !important;
  }
  
  .IphoneX_margin{
    margin-top: 86px !important;
  }
  
  .normalPhone_margin{
    margin-top: 66px !important;
  }